<div class="container">
  <div class="row mb-3">
    <div class="col-sm-12 col-md-8 col-lg-5 px-sm-0 mx-auto">
      <h2 class="page-title">お問い合わせ確認フォーム</h2>
      <div class="mt-3">
        <label class="badge">メールアドレス</label>
        <p><%= @contact.email %></p>
      </div>
      <div>
        <label class="badge">お問い合わせ用件</label>
        <p><%= @contact.subject %></p>
      </div>
      <div>
        <label class="badge">お問い合わせ内容</label>
        <p><%= @contact.message %></p>
      </div>
      <div class="col-md-6 mx-auto mb-3 mt-5">
        <%= form_with model:@contact, url: contacts_back_path, method: :post, local: true do |f| %>
          <%= f.hidden_field :email %>
          <%= f.hidden_field :subject %>
          <%= f.hidden_field :message %>
          <%= f.submit '入力画面に戻る', class: 'btn btn-outline-dark btn-block'%>
        <% end %>
      </div>
      <div class="col-md-6 mx-auto">
        <%= form_with model:@contact, url: contacts_path, method: :post, local: true do |f| %>
          <%= f.hidden_field :email %>
          <%= f.hidden_field :subject %>
          <%= f.hidden_field :message %>
          <%= f.submit '送信', class: 'btn btn-dark btn-block'%>
        <% end %>
      </div>
    </div>
  </div>
</div>
