<div class="container">
  <h5 class='offset-md-2 page_title my-4'>レビュー編集</h5>
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-sm-0 mx-auto">
      <h5><%= @review.stage.name %></h5>
      <%= form_with model: @review, url: review_path(@review), local:true do |f| %>
         <div class="form-group">
          <%= f.label :stage_id, "公演", class: "badge" %></br>
          <%= f.select :stage_id, @stages.map{ |stage| [stage.name, stage.id] } %>
        </div>
        <div class="form-group">
          <%= f.label :title, "タイトル", class: "badge" %></br>
          <%= @review.title %>
        </div>
        <div id="rating-form">
          <%= f.label :rate, "評価", class: "badge" %></br>
          <div id="star-rate-<%= @review.id %>"></div>
        </div>
        <div class="form-group mt-3">
          <%= f.label :date, "観劇日", class: "badge" %></br>
          <%= @review.date %>
        </div>
        <div class="form-group">
          <%= f.label :place, "観劇場所(方法)", class: "badge" %></br>
          <%= @review.place %>
        </div>
        <div class="form-group">
          <%= f.label :body, "本文", class: "badge" %></br>
          <%= @review.body %>
        </div>
        <div class="form-group">
          <%= f.submit "保存する", class: 'btn btn-dark mx-auto d-block' %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<%= render 'public/reviews/rate_result', review: @review %>
