<div class="container">
  <div class="row px-3">
    <div class="col-md-9 mx-auto mt-5 bg-white p-4">
      <div class="d-flex">
        <div class="user-image">
          <% if @review.user.is_deleted == false %>
            <%= attachment_image_tag @review.user, :image, format: 'jpeg', fallback: "no_image.jpg" %>
          <% else %>
            <%= image_tag('no_image.jpg') %>
          <% end %>
        </div>
        <div class="ml-3">
          <% if @review.user.is_deleted == false %>
            <%= @review.user.name %>さん
          <% else %>
            退会済みユーザー
          <% end %>
          <p class="small text-secondary mt-1"><%= @review.created_at.strftime("%Y年%-m月%-d日") %></p>
        </div>
      </div>
      <div class="mt-1"><strong><%= link_to @review.stage.name, admin_stage_path(@review.stage_id) %></strong></div>
      <div class="d-flex align-items-center mt-1">
        <div id="star-rate-<%= @review.id %>"></div>
        <div class="rating-score"><%= @review.rate %></div>
      </div>
      <div class="mt-2"><%= simple_format(@review.body) %></div>
      <div class="small text-secondary">
        <%if @review.date.present? || @review.place.present? %><i class="far fa-clipboard"></i><% end %> <%= @review.date&.strftime("%Y年%-m月%-d日") %> <%= @review.place %>
      </div>
      <div class="mt-3 d-flex">
        <div id="favorite-btn_<%= @review.id %>" >
          <%= render 'public/favorites/favorite-btn', review: @review %>
        </div>
        <div class="text-secondary ml-3"><i class="far fa-comment-alt"></i> <%= @review.comments.count %></div>
      </div>
      <div class="comments mt-3">
        <%= render 'public/comments/index', review: @review %>
      </div>
    </div>
  </div>
  <div class="text-center mt-4">
    <%= link_to "編集する", edit_admin_review_path(@review), class: "btn btn-dark mr-3" %>
    <%= link_to "戻る", :back, class: "btn btn-dark mr-3" %>
  </div>
</div>

<%= render 'public/reviews/rate_result', review: @review %>