<% if user_signed_in? && review.user_id != current_user.id %>
  <% if review.favorited_by?(current_user) %>
    <%= link_to review_favorites_path(review), method: :delete, remote: true do %>
     <i class="fas fa-heart heart_red"></i> <%= review.favorites.count %>
    <% end %>
  <% else %>
    <%= link_to review_favorites_path(review), method: :post, remote: true do %>
      <i class="far fa-heart"></i> <%= review.favorites.count %>
    <% end %>
  <% end %>
<% else %>
  <span class="text-secondary"><i class="fas fa-heart"></i> <%= review.favorites.count %></span>
<% end %>
