    <% reviews.each do |review| %>
      <div class="p-4 border-bottom">
        <% unless current_page?("/users/#{review.user.id}") %>
          <div class="d-flex">
            <div class="user-image">
              <% if review.user.is_deleted == false %>
                <%= attachment_image_tag review.user, :image, format: 'jpeg', fallback: "no_image.jpg" %>
              <% else %>
                <%= image_tag('no_image.jpg') %>
              <% end %>
            </div>
            <div class="ml-3">
              <% if review.user.is_deleted == false %>
                <%= link_to review.user.name, user_path(review.user) %>さん
              <% else %>
                退会済みユーザー
              <% end %>
              <p class="small text-secondary mt-1"><%= review.created_at.strftime("%Y年%-m月%-d日") %></p>
            </div>
          </div>
        <% end %>
        <% unless params[:stage_id] %>
        <div class="mt-1"><strong><%= link_to review.stage.name, stage_path(review.stage_id) %></strong></div>
        <% end %>
        <div class="d-flex align-items-center mt-1">
          <div id="star-rate-<%= review.id %>"></div>
          <div class="rating-score"><%= review.rate %></div>
        </div>
        <div class="review-title mt-2"><%= link_to review.title, review_path(review) %></div>
        <div class="mt-2"><%=simple_format truncate(review.body, length: 200) { link_to "続きを読む", review_path(review)} %></div>
        <div class="mt-2 d-flex">
          <div id="favorite-btn_<%= review.id %>">
            <%= render 'public/favorites/favorite-btn', review: review %>
          </div>
          <div class="text-secondary ml-3">
            <i class="far fa-comment-alt"></i> <%= review.comments.count %>
            <%if user_signed_in? && review.user_id != current_user.id %>
              <%= link_to "コメントする", review_path(review) %>
            <% end %>
          </div>
        </div>
      </div>
      <%= render 'public/reviews/rate_result', review: review %>
    <% end %>