<div class="container">
  <div class="row">
    <div class="col-md-8 mx-auto mt-5 bg-light p-4">
      <div>
      <% unless user_signed_in? && @review.user_id == current_user.id%>
        <%= link_to @review.user.name %>さん</br>
        <%= @review.created_at.strftime("%Y年%-m月%-d日") %>
      <% end %>
      </div>
      <div class="mt-2"><strong><%= link_to @review.stage.name, stage_path(@review.stage_id) %></strong></div>
      <div class="d-flex align-items-center mt-1">
        <div id="star-rate-<%= @review.id %>"></div>
        <div class="rating-score"><%= @review.rate %></div>
      </div>
      <div class="review-title mt-2"><%= @review.title %></div>
      <div class="mt-2"><%= @review.body %></div>
      <div class="mt-2">
        <% if user_signed_in? && @review.user_id == current_user.id %>
          <i class="fas fa-pencil-alt"></i><%= @review.created_at.strftime("%Y年%-m月%-d日") %> 投稿</br>
          <%if @review.date.present? || @review.place.present? %><i class="far fa-clipboard"></i><% end %> <%= @review.date&.strftime("%Y年%-m月%-d日") %> <%= @review.place %>
        <% end %>
      </div>
      <div class="mt-4 d-flex justify-content-center">
        <%= link_to "編集する", edit_review_path(@review), class: 'btn btn-dark mr-3 col-3' %>
        <%= link_to "削除する", review_path(@review), method: :delete, class: "btn btn-dark col-3", "data-confirm" => "本当に削除しますか？" %>
      </div>
    </div>
  </div>
</div>

<%= render 'public/reviews/rate_result', review: @review %>

