<div class="container">
  <div class="row">
    <div class="col-md-8 mx-auto mt-5 bg-white p-4">
      <% unless user_signed_in? && @review.user_id == current_user.id%>
        <div class="d-flex">
          <div class="user-image"><%= attachment_image_tag @review.user, :image, format: 'jpeg', fallback: "no_image.jpg" %></div>
          <div class="ml-3">
            <%= link_to @review.user.name, user_path(@review.user) %>さん
            <p class="small text-secondary mt-1"><%= @review.created_at.strftime("%Y年%-m月%-d日") %></p>
          </div>
        </div>
      <% end %>
      <div class="mt-1"><strong><%= link_to @review.stage.name, stage_path(@review.stage_id) %></strong></div>
      <div class="d-flex align-items-center mt-1">
        <div id="star-rate-<%= @review.id %>"></div>
        <div class="rating-score"><%= @review.rate %></div>
      </div>
      <div class="review-title mt-2"><%= @review.title %></div>
      <div class="mt-2"><%= @review.body %></div>
      <div class="mt-2">
        <div id="favorite-btn_<%= @review.id %>" class="mt-2">
          <%= render 'public/favorites/favorite-btn', review: @review %>
        </div>
      </div>
      <div class="comments mt-3">
        <%= render 'public/comments/index', review: @review %>
      </div>
      <% if user_signed_in? %>
        <%= form_with model:[@review,@comment] do |f| %>
          <div class="mt-2 form-row align-items-center d-flex justify-content-center">
            <%= f.text_area :content, :rows => 1, :placeholder => "コメントする", class: "form-control col-10" %>
            <%= f.submit '送信', class: "btn btn-dark ml-3" %>
          </div>
        <% end %>
      <% end %>
      <% if user_signed_in? && @review.user_id == current_user.id %>
      <div class="mt-2">
          <i class="fas fa-pencil-alt"></i><%= @review.created_at.strftime("%Y年%-m月%-d日") %> 投稿</br>
          <%if @review.date.present? || @review.place.present? %><i class="far fa-clipboard"></i><% end %> <%= @review.date&.strftime("%Y年%-m月%-d日") %> <%= @review.place %>
      </div>
      <div class="mt-4 d-flex justify-content-center">
        <%= link_to "編集する", edit_review_path(@review), class: 'btn btn-dark mr-3 col-3' %>
        <%= link_to "削除する", review_path(@review), method: :delete, class: "btn btn-dark col-3", "data-confirm" => "本当に削除しますか？" %>
      </div>
      <% end %>
    </div>
  </div>
</div>

<%= render 'public/reviews/rate_result', review: @review %>

