<div class="container">
  <h5 class='offset-md-2 page_title my-4'>レビュー作成</h5>
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-sm-0 mx-auto">
      <%= render 'layouts/errors', obj: @review %>
      <h5><%= @stage.name %></h5>
      <%= form_with model: @review, url: reviews_path(@review, stage_id: @stage.id), local:true do |f| %>
        <div class="form-group">
          <%= f.label :title, "タイトル", class: "badge" %>
          <%= f.text_field :title, class: "form-control" %>
        </div>

        <div id="rating-form">
          <%= f.label :rate, "評価", class: "badge" %><span class="required"></span></br>
          <%# scoreNameの値をhidden_fieldでカラムに送る %>
          <%= f.hidden_field :rate, :value => 'score' %>
        </div>
        <div class="form-group mt-3">
          <%= f.label :date, "観劇日", class: "badge" %></br>
          <%= f.date_field :date %>
        </div>
        <div class="form-group">
          <%= f.label :place, "観劇場所(方法)", class: "badge" %></br>
          <<%= form.radio_button :place, "" %>
          <%= form.label :place, "劇場", {style: "display: inline-block;"} %>
          <div class='form-group d-flex ml-3'>
          <%= f.text_field :place, placeholder: '劇場名' %>
          </div>
          <%= form.radio_button :place, "生配信/ライブビューイング" %>
          <%= form.label :place, "ライブ配信/ライブビューイング", {value: "ライブ配信/ライブビューイング", style: "display: inline-block;"} %>
          <%= form.radio_button :place, "DVD/BD" %>
          <%= form.label :place, "DVD/BD", {value: "DVD/BD", style: "display: inline-block;"} %>
          <%= form.radio_button :place, "VOD" %>
          <%= form.label :place, "VOD", {value: "VOD", style: "display: inline-block;"} %>
          <%= form.radio_button :place, "テレビ放送" %>
          <%= form.label :place, "テレビ放送", {value: "テレビ放送", style: "display: inline-block;"} %>
        </div>
        <div class="form-group">
          <%= f.label :body, "本文", class: "badge" %>
          <%= f.text_area :body, :rows => "5", class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.submit "新規登録", class: 'btn btn-dark mx-auto d-block' %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<script>
    $('#rating-form').raty({
        starOn: "<%= asset_path('star-on.png') %>",
        starOff: "<%= asset_path('star-off.png') %>",
        scoreName: 'review[rate]'
    });
</script>

