<div class="container">
  <% if params[:genre_id] %>
    <h2 class='page-title'>“<%= @genre.name %>”公演一覧</h2>
  <% elsif params[:sort] == 'now' %>
    <h2 class='page-title'>上演中の公演一覧</h2>
  <% elsif params[:sort] == 'coming' %>
    <h2 class='page-title'>上演予定の公演一覧</h2>
  <% else %>
    <h2 class='page-title'>公演一覧</h2>
  <% end %>
  <div class="col-md-9 mx-auto bg-white">
    <% @stages.each do |stage| %>
      <div class="row p-4 border-bottom align-items-center">
        <div class="col-12 col-md-8">
          <div><strong><%= link_to stage.name, stage_path(stage) %></strong></div>
          <div><%= stage.start_date.strftime("%Y年%-m月%-d日") %>〜<%= stage.end_date.strftime("%Y年%-m月%-d日") %></div>
        </div>
        <div class="col-12 col-md-4 d-flex align-items-center">
          <div id="star-rate-<%= stage.id %>"></div>
          <% if stage.reviews.average(:rate).to_f > 0 %>
          <div class="rating-score"><%= stage.reviews.average(:rate).to_f.round(1) %></div>
          <% else %>
          <div class="rating-score">-</div>
          <% end %>
        </div>
      </div>
      <%= render 'public/stages/rate_average', stage: stage %>
    <% end %>
  </div>
  <div class="mt-3 d-flex justify-content-center"><%= paginate @stages %></div>
  <% if user_signed_in? %>
    <div class="row">
      <div class="mx-auto d-flex mt-5">
        <%= link_to "公演を新規登録する",new_stage_path, class: "btn btn-dark px-3" %>
      </div>
    </div>
  <% end %>
</div>

