<div class="d-flex">
  <div class="user-image"><%= attachment_image_tag user, :image, format: 'jpeg', fallback: "no_image.jpg" %></div>
  <div class="ml-3">
    <% if current_page?("/users/#{user.id}") %>
      <span class="font-weight-bold"><%= user.name %></span>
    <% else %>
      <span class="font-weight-bold"><%=link_to user.name, user_path(user) %></span>
    <% end %>
    <p class="small mt-1">
      <%= link_to user_followings_path(user) do %><%= user.followings.where(is_deleted: false).count %><% end %> フォロー
      <%= link_to user_followers_path(user) do %><%= user.followers.where(is_deleted: false).count %><% end %> フォロワー
    </p>
  </div>
  <div class="ml-auto">
    <% if user_signed_in? && user != current_user %>
      <div id="follow_btn">
          <%= render "public/relationships/follow-btn", user: user %>
      </div>
    <% elsif user_signed_in? && user == current_user %>
      <%= link_to edit_user_path(user) do %>
        <i class="fas fa-cog fa-lg"></i>
      <% end %>
    <% end %>
  </div>
</div>
<div>
  <%= user.introduction %>
</div>