<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="演劇やステージのレビューを投稿できる機能を中心に、観劇の記録、観劇したい作品の備忘録、観客同士のコミュニケーションツールとしてご利用いただけるサイトです。">
    <%= favicon_link_tag('favicon.ico') %>
    <title>STAGE REVIEW</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header><%= render 'layouts/header' %></header>
    <p id="alert"><%= alert %></p>
    <%= yield %>
    <footer><%= render 'layouts/footer' %></footer>
  </body>
</html>
